// Colors
$white: #feffff;
$blue: #a7d8f4;
$yellow: #f1ef7a;
$red: #f68c5f;
$dark-blue: #43486a;
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
//Fonts
$header-font: "Trebuchet MS",
"Lucida Sans Unicode",
"Lucida Grande",
"Lucida Sans",
Arial,
sans-serif;
$body-font: Verdana,
Arial,
Sans-serif;